* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#splash {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}


css* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8e8e8;
    color: #1a1a1a;
    font-family: sans-serif;
}